database

bin/
build/
dist/
tmp/
*.log
*.tmp

.env
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

.git
.gitignore
.gitattributes
.idea/
.vscode/
*.swp
*.swo

.dockerignore
docker-compose*.yml
Dockerfile*

.DS_Store
Thumbs.db
